%li.dropdown
  %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
    = "Plik"
    %ul.dropdown-menu
      %li= disabled_link "Nowy"
%li.dropdown
  %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
    = "Edycja"
    %ul.dropdown-menu
      %li= disabled_link "Edytuj dane"
      %li= disabled_link "Usuń"