= simple_form_for @company, html: { class: "form-horizontal" } do |f|
  %fieldset
    %legend= "Szczegóły firmy"
    = f.input :name, label: "Nazwa"
    = f.input :nip, label: "NIP"
    = f.input :person, label: "Osoba wystawiająca fakturę"

  %fieldset
    %legend= "Dane kontaktowe"
    = f.input :phone, label: "Telefon"

    = f.fields_for :address do |builder|
      = render "shared/address_fields", f: builder

  .form-actions
    .pull-right
      = f.button :submit, value: "Zapisz", class: "btn-success"