.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
              = "Plik"
              %ul.dropdown-menu
                %li= "nowy"
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
              = "Edycja"
              %ul.dropdown-menu
                %li= "nowy"
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
              = "Widok"
              %ul.dropdown-menu
                %li= "nowy"

      .nav-collapse.collapse
        %ul.nav.pull-right
          %li= link_to "Dane Twojej firmy", "/"