%html{ lang: "pl" }
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title= "Faktury"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #wrap
      = render "layouts/topbar"
      .container-fluid
        .row-fluid
          .span12#content
            #flash
              = render "layouts/flash"
            .row-fluid
              = yield